
# Environment variables
.env

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sql
*.sqlite

# Virtual environment
venv/
.venv/
env/
.env/
